{% extends "base.html" %}

{% block extra_css %}
    <link rel='stylesheet' type='text/css' href='css/tictactoe/index.css' />
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var x_char = '{{ x_char }}',
            o_char = '{{ o_char }}',
            player_char = null,
            session = null,
            board = [];
        
        $(document).ready(function(){
            $('#start_over_button').click(function(){
                end_game();
                
                $('#start_over_button').hide();
                $('#board').hide();
                $('#piece_select').show();
            });
            
            $('.piece_option').click(function(){
                init_game();
                
                var results = $(this).attr('id').match(/^piece_({{x_char}}|{{ o_char }})$/);
                
                player_char = results[1];
                
                $('#piece_select').hide();
                $('#board').show();
                $('#start_over_button').show();
                
                game_loop();
            });
            
            $(window).unload(end_game);
        });
        
        function init_game(){
            $('#throbber').show();
            
            // Get session id from server
            $.ajax({
                async: false,
                url: '{% url start_game %}',
                success: function(data){
                    session = data['session'];
                },
                dataType: 'json'
            });
            
            $('#throbber').hide();
            
            // Initialize board
            for(var i = 0; i < 3; i++){
                board[i] = [];
                for(var j = 0; j < 3; j++){
                    board[i][j] = null;
                }
            }
            
            $('.cell').html('_');
        }
        
        function end_game(){
            if(session){
                $.post('{% url end_game %}', {'session': session});
                session = null;
            }
        }
        
        function cell_clicked(){
            if($(this).html() != '_'){
                alert('Illegal move!');
                return;
            }
            
            var results = $(this).attr('id').match(/^(\d)_(\d)$/),
                row = results[1],
                col = results[2];
            
            set_char_at(row, col, player_char);
            
            game_loop();
        }
        
        function bind_cell_handlers(){
            unbind_cell_handlers();
            $('.cell').click(cell_clicked);
        }
        
        function unbind_cell_handlers(){
            $('.cell').unbind('click', cell_clicked);
        }
        
        function ai_char(){
            if(player_char == x_char)
                return o_char;
            else
                return x_char;
        }
        
        function char_at(row, col){
            return board[row][col];
        }
        
        function set_char_at(row, col, ch){
            board[row][col] = ch;
            $('#'+row+'_'+col).html(ch);
        }
        
        function game_loop(){
            // Check for win condition
            
            // Check horizontals
            for(var i = 0; i < 3; i++){
                var ch = char_at(i, 0); // Get first character in row
                
                if(ch == null){
                    continue;
                }
                
                // All characters in the row match
                if(ch == char_at(i, 1) && ch == char_at(i, 2)){
                    // Highlight row
                    
                    if(ch == player_char){
                        player_victory();
                    }
                    else{
                        ai_victory();
                    }
                    
                    return;
                }
            }
            
            // Check verticals
            for(var i = 0; i < 3; i++){
                var ch = char_at(0, i); // Get first character in column
                
                if(ch == null){
                    continue;
                }
                
                // All characters in the column match
                if(ch == char_at(1, i) && ch == char_at(2, i)){
                    // Highlight column
                    
                    if(ch == player_char){
                        player_victory();
                    }
                    else{
                        ai_victory();
                    }
                    
                    return;
                }
            }
            
            // Check left diagonal
            var ch = char_at(0, 0);
            
            if(ch != null){
                if(ch == char_at(1, 1) && ch == char_at(2, 2)){
                    // Highlight diagonal
                    
                    if(ch == player_char){
                        player_victory();
                    }
                    else{
                        ai_victory();
                    }
                    
                    return;
                }
            }
            
            // Check right diagonal
            var ch = char_at(0, 2);
            
            if(ch != null){
                if(ch == char_at(1, 1) && ch == char_at(2, 0)){
                    // Highlight diagonal
                    
                    if(ch == player_char){
                        player_victory();
                    }
                    else{
                        ai_victory();
                    }
                    
                    return;
                }
            }
            
            // Check for draw
            var is_draw = true;
            for(var i = 0; i < 3; i++){
                for(var j = 0; j < 3; j++){
                    if(char_at(i, j) == null){
                        // There is still a possible move
                        is_draw = false;
                        break;
                    }
                }
            }
            
            if(is_draw){
                no_victory();
                return;
            }
            
            if(char_to_move() != player_char){
                // AI to move
                
                // Unbind user click event on board cells
                unbind_cell_handlers();
                
                // Show thinking throbber
                $('#throbber').show();
                
                $.post('{% url ai_move %}', {'session': session, 'board': JSON.stringify(board)}, ai_move, 'json');
            }
            else{
                // Rebind user events on board
                bind_cell_handlers();
            }
        }
        
        function char_to_move(){
            var n_x = 0,
                n_o = 0;
            
            for(var i = 0; i < 3; i++){
                for(var j = 0; j < 3; j++){
                    if(char_at(i, j) == x_char)
                        n_x = n_x + 1;
                    else if(char_at(i, j) == o_char)
                        n_o = n_o + 1;
                }
            }
            
            if(n_x == n_o)
                return x_char;
            else
                return o_char;
        }
        
        function ai_move(data){
            if(!data['success']){
                alert('An error has occurred: '+data['error']);
                game_finish();
                return;
            }
            
            var row = data['move']['row'],
                col = data['move']['col'];
            
            set_char_at(row, col, ai_char());
            
            // Hide throbbler
            $('#throbber').hide();
            
            game_loop();
        }
        
        function player_victory(){
            alert('You won!');
            
            game_finish();
        }
        
        function ai_victory(){
            alert('You lost');
            
            game_finish();
        }
        
        function no_victory(){
            alert("It's a draw!");
            
            game_finish();
        }
        
        function game_finish(){
            end_game();
            
            unbind_cell_handlers();
        }
    </script>
{% endblock %}

{% block content %}
    <div id="stage">
        <div style="text-align: center">
            <h1>Tic Tac Toe</h1>
        </div>
        <div id="piece_select">
            <div id="piece_{{ x_char }}" class="piece_option">{{ x_char }}</div>
            <div id="piece_{{ o_char }}" class="piece_option">{{ o_char }}</div>
        </div>
        <div id="board" style="display: none">
            <table>
                {% for row in rows %}
                    <tr>
                        {% for col in cols %}
                            <td><div id="{{ row }}_{{ col }}" class="cell"></a></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id="start_over_button" class="button" style="display: none">Start Over</div>
        <img id="throbber" src="img/throbber.gif" style="display: none" />
    </div>
{% endblock %}
